# you shouldn't commit these into source control
# these are the default directory names, adjust/add to fit your needs
target/
dbt_packages/
logs/
dbt_modules/

# virtual env
venv/
env/
dbt-env/


### macOS ###
# General
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# vscode
.vscode/

# templates
.dbt_coves/

